h1{
    color:red;
    font-size: 50px;
    font-weight: gold;
    font-family: "Impact";
    text-align: center;
    background-color: aquamarine;
}

body{
    background-image: url("../images/66965508_p0_master1200.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: bottom right;
}